/********************************************************************* 
Style of the records display
********************************************************************/
section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    h2{
        font-size: 2.5rem;
        color: $primary-color;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    h3{
        font-size: 2rem;
        color: $primary-color;
        text-transform: uppercase;
    }
    h4{
        font-size: 1.7rem;
        color: $primary-color;
    }
    p{
        color: $primary-color;
        font-size: 0.8rem;
    }

    .aff_rec{
        padding: 50px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        border-radius: 50px;
        background: #232A38;
        box-shadow:  10px 10px 20px #171b24,
                    -10px -10px 20px #2f394c;

        div:nth-child(2){
            width: 60%;
        }
    }
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50px;
    }

}
